/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.navbar {
  background: black;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.nav-links a:hover {
  color: #00b7ff;
}

/* Hero Section */
.hero {
  height: 70vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
              url("https://images.unsplash.com/photo-1521737604893-d14cc237f11d")
              center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
}

.hero h2 {
  font-size: 50px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 25px;
}

.btn {
  padding: 12px 25px;
  background: #00b7ff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
}

.btn:hover {
  background: #008ecc;
}

/* About Section */
.about {
  padding: 60px 40px;
  text-align: center;
}

.about h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

.about p {
  max-width: 700px;
  margin: auto;
  font-size: 18px;
  line-height: 1.6;
}

/* Services Section */
.services {
  background: #f2f2f2;
  padding: 60px 40px;
  text-align: center;
}

.services h2 {
  font-size: 35px;
  margin-bottom: 40px;
}

.service-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.service-box {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 30%;
  min-width: 250px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.service-box h3 {
  margin-bottom: 12px;
  font-size: 22px;
}

.service-box p {
  font-size: 16px;
  line-height: 1.5;
}

/* Footer */
footer {
  background: black;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 50px;
}
