h2 {
  color: red;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding: 20px 40px;
}

.logo {
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-links a:hover {
  color: #00b7ff;
}
